.widget .row>div {
    margin-bottom: 0;
}
.computer-table tbody tr.bg-primary {
    cursor: pointer;
}
#real-time-system, #system-chart {
    height: 350px;
    width: 100%;
}
.custom-widget-wrap rd-loading .loading {
    margin-bottom: 1000px;
}
.screen-shot {
    max-height: 350px;
}

.widget-header .row .pull-right {
    width: auto;
}
.date-selector {
    font-size: 16px;
    text-align: center;
}
.date-selector .glyphicon {
    color: #999999;
    cursor: pointer;
}
.date-selector .glyphicon:hover {
    color: #00A0EA;
}
.date-selector .next-year {
    margin-right: 10px;
}
#online-time-chart, #local-time-chart, #process-rate-chart, #working-time-chart {
    width: 100%;
    height: 350px;
}

.widget .widget-body.no-padding {
    overflow: hidden;
}
.widget .scroll-widget .widget-body.no-padding {
    overflow: scroll;
}