<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验室监控系统</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <!--<script src="http://cdn.btclass.cn/jquery/jquery-3.2.1.min.js"></script>-->
    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/echarts.min.js"></script>
    <script src="./static/js/index.js"></script>
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script src="./static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="top-bar">
    <p>实验室监控系统</p>
</div>
<ul class="first-menu">
    <li class="active">
        <i class="glyphicon glyphicon-home"></i>
        <p>实时监控</p>
    </li>
    <li>
        <i class="glyphicon glyphicon-time"></i>
        <a href="./history">历史记录</a>
    </li>
</ul>
<div class="main-content">
    <ul class="computer-list left">
        电脑列表
    </ul>
    <div class="middle">
        <div id="main" style="width: 600px;height:400px;"></div>

        <div class="screen-shot-wrap">
            屏幕截图
            <img id="screen-shot">
        </div>
    </div>
    <ul class="process-list right">
        进程信息
    </ul>
</div>
</body>
</html>