<div ng-controller="DashboardCtrl">
	<div class="row alerts-container" data-ng-show="alerts.length">
		<div class="col-xs-12">
			<uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-users" title="计算机">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body classes="large no-padding">
					<div class="table-responsive">
						<rd-loading ng-if="isLoadingComputers"></rd-loading>
						<table class="table computer-table" ng-if="!isLoadingComputers">
							<thead>
							<tr>
								<th>MAC地址</th>
								<th>昵称</th>
								<th>是否在线</th>
								<th>是否本地登录</th>
								<th>在线时长</th>
							</thead>
							<tbody >
							<tr ng-click="selectComputer(key)" ng-repeat="(key, value) in computers" ng-class="{'bg-primary': key == selectedComputer}">
								<td ng-bind="value.address"></td>
								<td ng-bind="value.nickname"></td>
								<td ng-if="value.isOnline">
									<span class="text-success"><i class="fa fa-check"></i></span>
								</td>
								<td ng-if="!value.isOnline">
									<span class="text-danger"><i class="fa fa-ban"></i></span>
								</td>
								<td ng-if="value.isLocal">
									<span class="text-success"><i class="fa fa-check"></i></span>
								</td>
								<td ng-if="!value.isLocal">
									<span class="text-danger"><i class="fa fa-ban"></i></span>
								</td>
								<td ng-if="value.isOnline">
									在线{{ value.sinceNow }}小时
								</td>
								<td ng-if="!value.isOnline">
									离线{{ value.sinceNow }}小时
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>
		</div>

		<div class="col-lg-6">
			<rd-widget>
				<rd-widget-header icon="fa-eye" title="实时监控">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body classes="large no-padding">
					<rd-loading ng-if="isLoadingSystem"></rd-loading>
					<img class="screen-shot" ng-if="!isLoadingSystem" ng-src="{{ targetImage }}">
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 custom-widget-wrap">
			<rd-widget ng-controller="RealMonitorCtrl">
				<rd-widget-header icon="fa-tv" title="系统信息">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body classes="large no-padding">
					<rd-loading ng-if="isLoadingSystem"></rd-loading>
					<div id="real-time-system"></div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<rd-widget>
				<rd-widget-header icon="fa-server" title="原有进程">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body class="scroll-widget" classes="medium no-padding">
					<rd-loading ng-if="isLoadingSystem"></rd-loading>
					<table class="table" ng-if="!isLoadingSystem">
						<thead>
						<tr>
							<th>进程名称</th>
							<th>内存占用率</th>
						</thead>
						<tbody>
						<tr ng-repeat="(key, value) in processes | orderBy: '-mem'">
							<td ng-bind="value.processName"></td>
							<td ng-bind="value.mem"></td>
						</tr>
						</tbody>
					</table>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-4">
			<rd-widget>
				<rd-widget-header icon="fa-server" title="新增进程">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body class="scroll-widget" classes="medium no-padding">
					<rd-loading ng-if="isLoadingSystem"></rd-loading>
					<table class="table" ng-if="!isLoadingSystem">
						<thead>
						<tr>
							<th>进程名称</th>
							<th>内存占用率</th>
						</thead>
						<tbody>
						<tr class="bg-success" ng-repeat="(key, value) in addProcesses | orderBy: '-mem'">
							<td ng-bind="value.processName"></td>
							<td ng-bind="value.mem"></td>
						</tr>
						</tbody>
					</table>
				</rd-widget-body>
			</rd-widget>
		</div>
		<div class="col-lg-4">
			<rd-widget>
				<rd-widget-header icon="fa-server" title="结束进程">
					<!--<input type="text" placeholder="Search" class="form-control input-sm" />-->
				</rd-widget-header>
				<rd-widget-body class="scroll-widget" classes="medium no-padding">
					<rd-loading ng-if="isLoadingSystem"></rd-loading>
					<table class="table" ng-if="!isLoadingSystem">
						<thead>
						<tr>
							<th>进程名称</th>
							<th>内存占用率</th>
						</thead>
						<tbody>
						<tr class="bg-warning" ng-repeat="(key, value) in delProcesses | orderBy: '-mem'">
							<td ng-bind="value.processName"></td>
							<td ng-bind="value.mem"></td>
						</tr>
						</tbody>
					</table>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
</div>